{% extends "templates/default.njk" %}
{% block header %}
    {% include "templates/partials/header.njk" %}
{% endblock %}
{% block content %}
    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque, deleniti dignissimos doloremque earum enim iure minus officia optio perspiciatis quis repudiandae sed tenetur vel vero. Aliquam architecto blanditiis commodi consequatur dolorem eius enim error illum, iste iure laborum minus nam nobis perspiciatis quidem ratione suscipit tempora tempore veritatis vitae.</p>
    </div>
{% endblock %}