<header class="header">
    <h1 class="header-title">Частный мастер в Кызыле</h1>
    <nav class="nav">
        <button class="hamburger hamburger--spin" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        <ul class="nav-list clearfix">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Сварка</a></li>
            <li><a href="#">Техобслуживание</a></li>
            <li><a href="#">О сервисе</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </nav>
</header>